<div class="side-menu">
  <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu1</a>
    </div>
  </div>
  <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
    <div class="menu">
    <div class="menu-name">
      <a href="#">techmenu2</a>
    </div>
  </div>
</div> 
