.wrapper {
  display: flex;
  height: 90.7vh;
}

/*サイドバー*/

.side-bar {
  background-color: #d3ebf5;
  width: 300px;
  margin: 100px 0px 0px 0px;
  overflow: auto;
}

.side-menu {
  background-color: #d3ebf5;
  padding: 20px 50px 0 50px;
  
}

.menu {
  padding: 20px 0 20px;
}

.menu-name{
  background: repeating-linear-gradient(135deg, #c0deec, #c0deec 10px, #fff 10px, #fff 20px);
  padding: 15px 5px;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
  border: 1px #FFFFFF solid;
  border-radius: 5px;
  margin: 0 4px;
  text-align: center;
}
.menu-name a {
  text-decoration: none;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.menu-name__area {
  background-color: #FFFFFF;

}


/*メイン画面*/

/*index関連*/
.project {
  background-image: url(prism.png);
  width: calc(100vw - 300px);
  margin: 100px 0px 0px 0px;
  padding: 50px 0px 0px 300px;
  overflow: auto;
}

.project-frame{
  width: 700px;
  color: #505050;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 150px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.post-contents {
  width: 700px;
  margin: 0 auto;
}

.post-content {
  display: flex;
  width: 100%;
  height: 110px;
  margin-bottom: 25px;
}



.comment {
  width: 70px;
  height: 100%;
  background-color: #1C3667;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;

}

.comment__num {
  width: 70px;
  height: 38px;
  margin: 25px auto 0;
  line-height: 38px;
  font-size: 26px;
  text-align: center;
}

.comment__unit {
  width: 70px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
}

.project-content {
  width: 630px;
  background-color: #FFFFFF;
  border-radius: 0 5px 5px 0 ;
  border: solid 2px #c0deec;
  color: #505050;
}

.project-top__area{
  background-color: #c0deec;
  padding: 5px 5px;
  display: flex;
  align-items: center;
 }

.project-top__name {
  font-size: 12px;
  text-align: right;
  padding-top: 5px;
  width: 400px;
  margin: 0 0 0 auto;

}

.project-area__name{
  width: 110px;
}

.project-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 0 15px;
}

.project-top__title {
  width: 500px;
  font-size: 17px;
  display: flex;
}

.project-create__at{
  font-size: 13px;
  padding: 0 0 0 15px;
  margin-top: 5px;
}
.project-top__title a{
  color: #505050;
}


.project-bottom {
  margin-top: 5px;
  padding: 0px 15px 0 15px;
}

.project-bottom__content {
  font-size: 15px;
  padding-top: 5px;
}
/*index関連*/

/*new,edit関連*/

.field-title{
  width: 400px;
  padding: 10px;
  background-color: #c0deec;
  color: #505050;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*new,edit関連*/

/*show関連*/

.project-title{
  width: 700px;
  padding: 20px;
  background-color: #1C3667;
  color: #FFFFFF;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
}

.completed-status{
  font-size: 13px;
  width: 80px;
  color: #505050;
  background-color: #ffffff;
  border-radius: 50px;
  border: solid 3px #97c2d4;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.incomplete-status{
  font-size: 13px;
  width: 70px;
  color: #505050;
  background-color: #ffffff;
  border-radius: 50px;
  border: solid 3px #fdff72;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}
.project-title__menu{
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__btn{
  padding: 0.4em 1.6em;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  border: 1px #FFFFFF solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.project-right{
  width: 500px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 0 3px 3px 0;
}

.project-left{
  width: 200px;
  background-color: #d3ebf5;
  padding: 20px;
  margin-right: 3px;
  border-radius: 3px 0 0 3px;
}

.project-section{
  width: 700px;
  display: flex;
  margin: 3px 0px;
  font-size: 14px;
  color: #505050
}

.project-image{
  width: 700px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.completed__form{
  text-align: center;
  width: 500px;
  color: #FFFFFF;
  background-color: #97c2d4;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin-top: 30px;
  border: thick double #ffffff;
}

.completed_select{
  display: inline-block;
  padding: 0.2em 0.2em;
  font-size: 0.9em;
  color: #505050;
  text-decoration: none;
  user-select: none;
  background: #FFFFFF;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.completed_sumbit{
  display: inline-block;
  padding: 0.4em 1em;
  font-size: 0.9em;
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border-radius: 3px;
  border: 1px #FFFFFF solid;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.completed_sumbit:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/*show関連*/