.header {
  background: #fff;
  display: flex;
  top: 0;
  height: 100px;
  padding: 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.footer {
  background: #fff;
  text-align:center;
  padding:10px 0;
}

.top {
  background-color: #f3297d;
  border: 1px solid #ffffff;
  height: 200px;
  width: 80%;
  text-align: center;
  margin:50px 20px 50px 140px;
}

.top h2 {
  line-height: 200px;
  color: #fff;
}

.logo a {
  font-size: 50px;
  letter-spacing: 1.8px;
  font-family: 'Roboto', sans-serif;
  color: #222222;
  text-decoration: none;
}


.nav_menu {
  display: flex;
  padding: 10px;
  list-style:none
}

.nav_menu_item {
  margin-left: 20px;
  text-decoration: none;
  color: #535353;
}

.content {
  max-width: 1020px;
  margin: 0 auto;
}

.content_item {
  padding: 30px 0;
}

/* フォーム周り */
.new-user {
  background-color: mistyrose;
  width: 100vw;
  margin: 100px 0px 0px 0px;
  overflow: scroll
}

.form__wrapper{
  color: #717575;
  text-align: center;
}

.form__text {
  width: 50%;
  height: 100px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.select-box{
  height: 30px;
  width: 250px;
}
/* コメント関係 */

.comments_post__box {
width: 700px;
display: flex;
flex-direction: column;
align-items: center;
}

.comments_list {
  width: 600px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.container {
  width: 700px;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  margin-top: 10px;
}

.comment__form {
  width: 500px;
  height: 100px;
  resize: none;
}

.comment-actions {

}
/* フォーム周り */